.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button {
  background-color: #24a158;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 25px;
  width: 300px;
  height: 50px;
  outline: 0;
}

button:hover {
  background-color: #1d8046;
  cursor: pointer;
}
